body {
  background-color: rgb(87, 87, 87);
  margin: 0;
}

header {
  background-image: url(assets/header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
  height: 150px;
}
